<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/fragments.css">
    <link rel="stylesheet" href="/css/product.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<!--header-->
<div th:replace="/fragments/header.html::header"></div>
<!--header-->
<h1 class="page-name">Кошик</h1>

    <input id="vsi" name="vsi" type="checkbox">
<label for="vsi">Всі товари(<span id="quantity"></span>)</label>
<ul class="backed-list">


</ul>
<button th:onclick="sendBasket()">Sendbasket</button>
<p>Загальна вартість: <span class="total_cost"></span></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/cart-basket.js"></script>
<!--<script src="/js/cart.js"></script>-->
<script src="/js/ajax.js"></script>
<script src="/js/producе.js"></script>
</body>
</html>