<th:block th:fragment="category">
    <div class="category">
        <ul class="category__list">
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/1_all.png" alt="">
                    <h2 class="category__title">Всі товари</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/2_clothes.png" alt="">
                    <h2 class="category__title">Одяг</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/3_tehnika.png" alt="">
                    <h2 class="category__title">Техніка</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/4_home.png" alt="">
                    <h2 class="category__title">Товари для дому</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/5_makeup.png" alt="">
                    <h2 class="category__title">Косметика</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/6_kitchen.png" alt="">
                    <h2 class="category__title">Кухня</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/7_tools.png" alt="">
                    <h2 class="category__title">Інструменти</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/8_sport.png" alt="">
                    <h2 class="category__title">Спорт</h2>
                </a>
            </li>
            <li class="category__item">
                <a class="category__link" href="#">
                    <img class="category__img" src="/img/category/9_books.png" alt="">
                    <h2 class="category__title">Книги</h2>
                </a>
            </li>
        </ul>
    </div>
</th:block>