<ul class="order__list">
    <!--/*@thymesVar id="orders" type="ArrayList<Order>"*/-->
    <block th:each="o : ${orders}">
        <!--/*@thymesVar id="p" type="Order"*/-->
        <li class="order__item" th:each="p : *{o.getProductItems()}">
            <div class="order-cart">
                <div class="order-cart__img">
                    <img th:src="|/img/*{p.getImage()}|">
                </div>
                <div class="order-cart__body">
                    <h3 th:text="*{p.getProduct().getName()}" class="order-cart__title"></h3>
                    <p th:text="*{p.getPrice()}" class="order-cart__price"></p>
                    <a th:onclick="|buyBtn(*{p.getId()})|" class="order-cart__btn">Замовити знову</a>
                </div>
                <div class="order-cart__bottoms">
                    <button th:onclick="|window.location.href='/product/get/1/?item=*{p.getId()}'|">Деталі
                        замовлення
                    </button>
                    <button th:if="${view=='2'}">Написати відгук</button>
                    <button th:if="${view=='1'}">Відстежити</button>
                </div>
            </div>
        </li>
    </block>
</ul>