<ul class="order__list">
    
    <p th:if="${orders.size()==0 } and ${view=='1'}" class="order__item">
        Наразі немає рекомендованих товарів для повторного замовлення. Ви також можете зробити своє
        перше  замовлення. <a style="color: blue" href="/deals">перше  замовлення.</a></p>
    <p th:if="${orders.size()==0} and ${view=='2'}" class="order__item" >
        Наразі немає ще завершених замовленнь. Ви також можете зробити
        <a style="color: blue" href="/deals">інше  замовлення.</a>
    <p th:if="${orders.size()==0} and ${view=='3'}" class="order__item">
        Наразі немає ще не  відправлених замовленнь. Ви також можете зробити
        <a style="color: blue" href="/deals">інше  замовлення.</a>
    </p>
    <p th:if="${orders.size()==0} and ${view=='4'}" class="order__item" >
        Наразі немає скасованих замовленнь. Ви також можете зробити
        <a style="color: blue" href="/deals">інше  замовлення.</a></p>
    <!--/*@thymesVar id="orders" type="ArrayList<Order>"*/-->
    <block th:each="o : ${orders}">
        <!--/*@thymesVar id="p" type="Order"*/-->
        <li class="order__item" th:each="p : *{o.getProductItems()}">
            <div class="order-cart">
                <div class="order-cart__img">
                    <img th:src="|/img/*{p.getImage()}|">
                </div>
                <div class="order-cart__body">
                    <h3 th:text="*{p.getProduct().getName()}" class="order-cart__title"></h3>
                    <p th:text="*{p.getPrice()}" class="order-cart__price"></p>
                    <a th:onclick="|buyBtn(*{p.getId()})|" class="order-cart__btn">Замовити знову</a>
                </div>
                <div class="order-cart__bottoms">
                    <button th:onclick="|window.location.href='/product/get/1/?item=*{p.getId()}'|">Деталі
                        замовлення
                    </button>
                    <button th:if="${view=='2'}" th:onclick="|window.location.href='/response/*{p.getId()}/'|" >Написати відгук</button>
                    <button th:if="${view=='1'}">Відстежити</button>
                </div>
            </div>
        </li>
    </block>
</ul>