<th:block th:fragment="products-cart">
<div class="">
    <ul class="section__products ">
        <li class="section__products-item" th:each="p : ${prodDTO}">
            <div >
                <a class="product__card" th:href="|/product/get/${p.getProduct().getSubgroup().getId()}/?item=${p.getItem().getId()}|">
                    <img class="product__img" th:src="${path}+${p.getMainImage()}" alt="">
                    <h4 class="product__title" th:text="${p.getProduct().getName()}"></h4>
                    <div th:if="${p.getDiscount()==null}" class="product__cost">
                        <span class="product__prise" th:text="${p.getItem().getPrice()}+' грн'"></span>
                    </div>
                    <div th:unless="${p.getDiscount()==null}" class="product__cost--discount">
                        <span class="product__prise" th:text="${p.getDiscount().getPrice()}+' грн'"></span>
                        <div class="product__discount" th:text="${p.getDiscount().getDiscount()} + '%'"></div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
</th:block>