/*header*/
.header {
    padding: 20px 0 30px;
}

.header__search {
    display: flex;
    justify-content: space-around;
}

.logo {

}

.logo__img {

}

.logo__name {
    display: inline-block;
    padding-left: 10px;
    font-family: ISOCPEUR;
    font-size: 40px;
    font-weight: 400;
    line-height: 33.52px;
    text-align: left;

}

.search {
    display: flex;
}

.search__text {
    /*width: 100%;*/
    min-width: 800px;
    /*height: 40px;*/
    padding: 0 40px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;


    border: 2px solid #000000;
    border-radius: 20px;
}

.search__text::placeholder {
    /*font-family: Inter;*/
    /*font-size: 20px;*/
    /*font-weight: 400;*/
    /*line-height: 24.2px;*/
    /*text-align: left;*/
    color: black;

}

.search__button {
    width: 50px;
    /*height: 40px;*/
    display: block;
    background-color: black;
    background-image: url("/imgs/fragments/search-normal.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    /*top: -50%;*/
    /*right: -100%;*/
    transform: translateX(-100%);
    border-left: 1px solid #000000;
    cursor: pointer;
}

.cart {
    position: relative;
    display: flex;
    align-items: flex-start;
    transition: background-color 0.3s;
    cursor: pointer;
}

.cart.active:hover {
    cursor: pointer;
    background: rgba(93, 113, 221, 0.1);
    transition: background-color 0.3s;
}

.header__cart {
}

.cart__quantity {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    text-align: left;
    padding-left: 5px;
}

.cart-content {
    cursor: default;
    width: 490px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.content {
    padding-top: 90px;
}

.cart-content__list {
    max-height: 330px;
}

.cart-product {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    padding-right: 13px;
    transition: background-color 0.3s;
}

.cart-product:hover {
    background: rgba(93, 113, 221, 0.1);
    transition: background-color 0.3s;
}

.cart-product__img {
    margin-right: 20px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.cart-product__title {
    max-width: 300px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
    margin-bottom: 18px;
}

.cart-product__price {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-dark);
}

.cart-product__delete {
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("/img/cart/delete.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    padding: 0;
}

.cart-content__bottom {
    padding: 20px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart-content__btn {
    display: inline-block;
    width: 246px;
    text-align: center;
}


.header__nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}

.header__nav-link {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;

}

.header__nav-link--down {
    padding-right: 15px;
}

.header__nav-link--down:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("/imgs/fragments/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    top: -45%;
    right: -16px;
    transform: translateY(-50%);
}

.page-name {
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    padding: 25px 200px 30px;
}

.menu{
    min-width: 150px;
    width: min-content;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 1;
    padding: 15px;
    visibility: hidden;
}
.menu__user{
    display: flex;
    gap: 10px;
    align-items: center;
}
.menu__user img{
    width: 60px;
    height: 60px;
}

.menu__user-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.menu__line{
    height: 1px;
    width: 100%;
    background-color: #000;
}

.menu__links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

/*header*/

/*category*/
.category {
    background-color: #FAFAFA;
    padding: 25px;
}

.category__list {
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 1300px;
    min-width: 800px;
}

.category__item {
    width: 115px;
}

.category__link {
    display: flex;
    flex-direction: column;
}

.category__img {
}

.category__title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
    display: block;
    padding-top: 15px;
}

/*category*/


/*product*/
.product {

}

.product__list {
    display: flex;
    flex-wrap: wrap;
}

.product__item {

}

.product__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.product__img {
    width: 100%;
}

.product__title {

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: left;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 10px 0; /* Поля вокруг текста */
    text-overflow: ellipsis;

}

.product__cost {

}

.product__cost--discount {
    color: #FA6338;
}

.product__prise {
    padding-right: 10px;
}

.product__discount {
    border: 1px solid #FA6338;
    position: relative;
    bottom: 5px;
    display: inline-block;
    padding: 0 5px;
    font-size: 13px;
}

/*product*/

/*comment*/
.comment {
    padding: 23px 0;

    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.comment__body {
    margin: auto;
    width: 1200px;
}

.comment__list {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.comment__item {
    padding: 15px 0;
}

.comment__item:not(:last-child) {
    border-bottom: 0.5px solid #000000
}

.comment__create {

}

.comment__author {
    padding-right: 8px;
}

.comment__date {
    color: #666666;
}

.comment__star {

}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    line-height: 0.75;
    padding-top: 15px;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "★★★★★";
    display: block;
    color: whitesmoke;
}

.rating__active {
    position: absolute;
    /*width: 100%;*/
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FACF19;
}

.rating__items {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.comment__details {
    display: flex;
    grid-gap: 20px;
    padding: 20px 0;
}

.comment__param {
    color: #666666;
}

.comment__value {
    color: #A4A4A4;
}

.comment__content {
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;
}

.comment__text {
}

.comment__photos {
    display: flex;
    grid-gap: 10px;
}
.comment__photos img {
    width: 105px;
    height: 120px;
}

/*comment*/

/*footer*/
.footer {
    width: 100%;
    background: #F0F0F0;
    display: block;
    position: relative;
    bottom: 0;
}

.footer__body {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    line-height: 120%;
    color: #000000;
    vertical-align: top;
    font-size: 14px;
}

.footer__title {
    padding-bottom: 20px;
    white-space: nowrap;
    font-family: Inter, serif;
    font-size: 22px;
    font-weight: 500;
    text-align: left;


}

.footer__links-item {
    padding-bottom: 12px;
}

.footer__link {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: black;
}

.footer__link:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.copyright__links {

}

.copyright__item {
    display: inline-block;
    padding: 20px 8px;
}

.copyright__link {
    color: black;
}

.copyright__link:hover {
    text-decoration: underline;
}

/*footer*/
