.main {
margin: auto;
}

.register {
    background-image: url("/img/promo/bgr_blue.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.register__container {
    max-width: 1100px;
    min-width: 800px;
    margin: auto;
    padding: 25px;
    display: flex;
}

.register__text-container {
    display: flex;
    flex-direction: column;
}

.register__title {
    font-family: Inter, serif;
    font-size: 60px;
    font-weight: 500;
    /*line-height: 96.82px;*/
    text-align: left;
    color: #3A3A3A;

}

.register__text {
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    line-height: 42.36px;
    text-align: left;
    margin-top: 35px;

    width: 350px;
}

.register__link {
    margin-top: 40px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 58.09px;
    color: #ffffff;

    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-color: #2E2C34;
    text-align: center;
    width: min-content;
}

.register__img {
 width: 70%;
}

.bonus {

}

.bonus__container {
    max-width: 1100px;
    margin: auto;
    padding: 100px;
    display: flex;
}

.bonus__text-container {

    padding-left: 75px;
}

.bonus__title {
    font-family: Inter;
    font-size: 45px;
    font-weight: 500;
    text-align: left;

}

.bonus__text {
    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    padding: 35px 0 15px;

}

.bonus__list {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.26;
    text-align: left;
    padding-top: 10px;

}

.bonus__item {

}

.bonus__img {
    width: 50%;
}
/*Promo reg*/
.seler-reg{
    display: flex;
    flex-direction: column;
 margin: auto;
    max-width: 1100px;
}
.block-input{
    font-family: Inter;
    font-size: 23px;
    display: flex;
   flex-wrap: wrap;


}
.block-input__item{
    margin-right: 77px;
    min-width: 200px;
    margin-bottom: 22px;

/*display: flex;*/
/*    flex-direction: column;*/
}
.block-input__label{
display: block;
}
.block-input__text{
    font-size: 15px;
    padding: 8px;
    margin-top: 15px;
    border-radius: 11px;
    border: 1px solid #000000;


}
.block-input__checkbox{

}

.block-input__checkbox input{

}

.block-input__submit{
    width: 225px;
    margin: 40px 0 80px;
padding: 8px 15px;
    font-size: 23px;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 50px;
    border-color: black;
    border-width: 0px;
}
/*Promo reg*/

