html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, 'sans-serif';
    font-size: 20px;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    margin: 0 100px;
}

.global-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 30px 0;
}

.global-header__navbar {
    width: 100%;
}

.navbar__top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
}

.search-form {
    position: relative;
    width: 100%;
    margin: 0 75px;
}

.search-form__block {
    position: relative;
}

.search-form__input {
    width: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 8px 50px 8px 30px;
    font-size: 20px;
}

.search-form__submit {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 0 25px 25px 0;
    background: #000000;
    height: 100%;
    aspect-ratio: 1;
}

/*.basket !*global-header__basket*! {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

.banner /*global-main__banner*/ {
    width: 100%;
}

.banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories {

}

.categories__list {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.category-card {
    text-align: center;
    margin-top: 80px;
}

.category-card__link {
    width: 350px;
    height: 350px;
    cursor: pointer;
    margin-bottom: 30px;
}

.category-card__image {
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50%;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.category-card__text {
    font-size: 40px;
}

.day-discount {
    margin-top: 80px;
}

.day-discount__top {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.day-discount__header {
    display: inline-block;
    font-size: 64px;
    font-weight: 500;
}

.day-discount__timer {
    display: inline-block;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer__header {
    display: inline-block;
    font-size: 40px;
}

.timer__time {
    display: inline-block;
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 26px;
    background: #E0DEE0;
    color: #767476;
    font-weight: 700;
}